[Unit]
Description=IPTV_Player_Service
After=network.target

[Service]
ExecStart=/home/osmc/player/starter.sh
Type=forking

[Install]
WantedBy=default.target
